:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-color: var(--backgroundColor);
    color: var(--textPrimary);
}

#root {
    min-height: 100vh;
}

@media (prefers-color-scheme:dark){
    :root {
        --backgroundColor:#121212;
        --backgroundColor10:#323232;
        --backgroundColor20: #626262;
        --textPrimary: #ffffff;
        --textPrimary10: #a9a9a9;
    }
}
@media (prefers-color-scheme:light){
    :root {
        --backgroundColor:#d9d9d9;
        --backgroundColor10: #a9a9a9;
        --backgroundColor20: #727272;
        --textPrimary:#121212;
        --textPrimary10:#323232;
    }
}
