:root {
  padding: 0;
  text-align: center;
  /*var(--backgroundColor);*/
  color: var(--textColor);
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.05rem);
  list-style-type: none;
}

body {
  margin: 0;
}

.mainScreen {
  background-color: white;
  color: var(--secondaryDarkColor);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #555;
  background-blend-mode: screen;
}

.icon-l {
  @extend .icon;
  margin: 20px;
  width: 60px;
  height: 60px;

  .profileImage {
    width: 30px;
  }
}

.icon-s {
  @extend .icon;
  margin: 15px;
  width: 40px;
  height: 40px;

  .profileImage {
    width: 30px;
  }
}