:root {
  padding: 0;
  text-align: center;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.05rem);
  list-style-type: none;
}

body {
  margin: 0;
}
span {
  font-size: 14px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #555;
  background-blend-mode: screen;
  mix-blend-mode: hard-light;
}

.profileImage {
  width: 30px;
}

.icon-xxl {
  @extend .icon;
  margin: 20px;
  width: 120px;
  height: 120px;

  .profileImage {
    width: 100px;
  }
}

.icon-l {
  @extend .icon;
  margin: 20px;
  width: 60px;
  height: 60px;
}

.icon-s {
  @extend .icon;
  margin: 15px;
  width: 40px;
  height: 40px;
}

.mw-350 {
  min-width: 350px;
}
.mb-1 {
  margin-bottom: 10px;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-100 {
  width: 100%;
  display: flex;
}

.app-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.app-footer {
  border-top: 1px solid var(--primaryColor);
  margin-top: auto;
}
.app-content {
  flex: 1;
  display: flex;
  padding: 10px;
}

.justify-start {
  justify-content: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}
.bold {
  font-weight: bold;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.p-2 {
  padding: 20px;
}
.width-m {
  width: 60%;
  margin: auto;

  @media (max-width: 800px) {
    min-width: 100%;
  }
}
.warning-box {
  background-color: rgba(255, 185, 61, 0.5);
  border-radius: 20px;
  border: 2px solid orange;
  text-align: left;
  padding: 0 1rem 1rem 1rem;
}
.privacy-policy {
  text-align: left;
  padding-left: 2rem;
  padding-right: 1rem;
}
.inline {
  display: inline;
}
.grid-card {
  min-width: fit-content;
}
.title {
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    }
}
.list-item {
  text-align: left;
  width: 100%;
  flex-wrap: wrap;
  min-width: fit-content;
  min-width: -moz-fit-content;
  .ant-list-item-meta-content {
    width: fit-content;
    .date {
      color: var(--primaryColor);
    }
  }
}
