:root {
  padding: 0;
  text-align: center;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.05rem);
  list-style-type: none;
}

body {
  margin: 0;
}

.mainScreen {
  background-color: var(--backgroundColor);
  color: var(--textPrimary);
  padding: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #555;
  background-blend-mode: screen;
  mix-blend-mode: hard-light;
}

.icon-l {
  @extend .icon;
  margin: 20px;
  width: 60px;
  height: 60px;

  .profileImage {
    width: 30px;
  }
}

.icon-s {
  @extend .icon;
  margin: 15px;
  width: 40px;
  height: 40px;

  .profileImage {
    width: 30px;
  }
}

.flex {
  width: 100%;
  display: flex;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
