.dashboard-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 700px);
  width: 100%;
  gap: 10px;
  justify-content: space-around;
  align-items: start;
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .dashboard-card {
    overflow: auto;
    .ant-card-head-title {
      min-width: fit-content;
    }
  }
}
