.dashboard-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 700px);
  width: 100%;
  gap: 10px;
  justify-content: space-around;
  align-items: start;
  .dashboard-card {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
