.menu {
  min-width: 100px;

  .role {
    font-size: 15px;
    text-align: right;
    opacity: 50%;
  }

  .username {
    text-transform: capitalize;
    font-size: 20px;
    text-align: left;
  }
}