.formCenterWrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 5px;
  background-color: var(--backgroundColor10);
  margin-bottom: 20px;
  padding: 20px;

  .field {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  h3 {
    margin: 0 0 10px;
  }
}

.button {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.actionButton {
  @extend .button;
  padding: 10px 20px;
  background-color: var(--secondaryColor);
  margin-right: 10px;
}


.field {
  margin-bottom: 10px;
  margin-top: 5px;
}

.viewModal {
  text-align: left;
  display: grid;
  grid-gap: 10px;

  h4 {
    margin-bottom: 5px;
  }

  .card {
    border-radius: 5px;
    border: 2px solid var(--backgroundColor10);
    background: none;
    color: var(--textPrimary);
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 5px;
  }

  .field {
    margin: 5px;
    justify-content: space-between;
    width: auto;
    border-bottom: 1px dashed var(--backgroundColor20);
  }

  .ticketActions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    button {
      margin-left: 10px;
    }
  }
}


.form {
  .textField {
    width: 100%;
  }

  .input {
    width: 100%;
    font-size: 1rem;
    padding: 15px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    box-sizing: border-box;
  }

  .textArea {
    @extend .input;
    max-width: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  .abs-icon {
    top: 10px;
    right: 60px;
  }
}
.sideNavIcon{
  .abs-icon {
    position: absolute;
    top: 0;
    margin:0;
    background-color: #cb4848;
    font-weight: bold;
  }
}
.abs-icon {
  position: absolute;
}

.mic-on {
  background-color: var(--primaryColor);
}

.loginForm {
  @extend .form;
  padding: 20px;
  box-shadow: 0 0 4px 2px var(--textPrimary);
  border-radius: 10px;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  width: 40%;
  max-width: 450px;
  @media (max-width: 700px) {
    width: 100%;
  }

  .button {
    @extend .button;
    width: 100%;
    height: 40px;
    background-color: #5258B1;
    color: #fff;
  }
}

.error {
  box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.5);
}

.errorText {
  color: #ff4f4f;
  text-transform: capitalize;
}

.modalForm{
  @extend .form;
  text-align: start;

  .input {
    padding: 10px;
  }
}
.successButton{
  @extend .button;
  height: 40px;
  width: 100px;
  margin-right: 10px;
  background-color: #36a819;
  color: #fff;
}
.cancelButton{
  @extend .button;
  height: 40px;
  width: 100px;
  background-color: #313131;
  color: #fff;
}

.textFormLabel {
  font-size: 18px;
}

.buttonFooter {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
}

.colorSample {
  width: 60px;
  height: 40px;
  border: 1px solid var(--textPrimary);
  border-radius: 10px;
  margin: 10px auto;
}

.filterRow {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);
  width: 100%;
  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 90%);
  }
  margin-bottom: 10px;
}


.search {
  display: flex;
  align-items: center;

  input {
    width: 300px;
    font-size: 1rem;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
  }

  .icon {
    position: relative;
    right: 30px;
  }
}

.rdt {
  .form-control {
    @extend .input
  }

  .rdtPicker {
    background-color: var(--backgroundColor) !important;
    color: var(--textPrimary) !important;
    border-radius: 5px;

    td.rdtDay:hover,
    td.rdtHour:hover,
    td.rdtMinute:hover,
    td.rdtSecond:hover,
    .rdtTimeToggle:hover,
    .rdtBtn:hover,
    thead tr:first-of-type th:hover,
    td.rdtMonth:hover, td.rdtYear:hover {
      background-color: var(--backgroundColor20) !important;

    }
  }
}

.dateTimeFilter {
  text-align: left;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;

  .input {
    min-width: 200px;
    font-size: 1rem;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
  }

  .rdt {
    margin: 0 10px;
  }
}

.largeFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.filterColumn {
  display: grid;
  grid-gap: 5px;
  min-width: 300px;

  h4 {
    margin: 5px;
  }
}

.svg-inline--fa {
  margin: 0 5px;
}
