
.toolbar {
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryColor);

  .toolbar-right {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }
}

.visible {
  display: block;
  @media (max-width: 768px) {
    position: fixed;
  }
}

.invisible {
  display: none;
}

.flex-grow {
  flex-grow: 1;
}

.clickable {
  cursor: pointer;
}

.sidenav {
  top: 0;
  left: 0;
  width: 300px;
  background-color: var(--secondaryDarkColor);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 100vh;

  .nav-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 5px 20px;
    font-size: 16px;
    color: var(--textColor);
    text-decoration: none;

    &:hover {
      backdrop-filter: brightness(150%);
    }

    .icon {
      margin-right: 16px;
      font-size: 18px;
    }
  }

  .active {
    background-color: var(--secondaryColor);
    font-weight: bold;

    .icon {
      color: #4caf50;
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

