.setting {
  background-color: #e7e7e7;
  color: #121212;
  padding: 20px;
  flex-grow: 1;
  text-align: left;

  .card {
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin-bottom: 20px;

    .profileDesc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    .row {
      border-top: 1px solid #e7e7e7;
      padding: 20px 10px;
      width: auto;

      .name {
        font-weight: bold;
        width: 25%;
      }

      .value {
        width: 25%;
        color: black;
        flex-grow: 1;
      }

      .description {
        width: 40%;
        color: black;
        flex-grow: 1;
      }
    }

    .header {
      @extend .row;
      color: black;
      align-items: center;
      justify-content: space-between;
      .button{
        padding: 10px;
      }
    }
  }

}
