thead {
  text-transform: capitalize;
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 10px;

  button {
    margin-right: 10px;
  }
}

.buttonHeader {
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.dangerBg {
  background-color: rgba(183, 0, 0, 0.5);
}