.noData {
  margin: 20px;

}

thead {
  text-transform: capitalize;
}

.tableWrapper {
  overflow-x: auto;
  max-width: 100vw;

  .table {
    thead {
      text-transform: capitalize;
      background-color: var(--backgroundColor10);
    }

    .clickable:hover {
      background-color: var(--backgroundColor20);
    }
  }
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 10px
}
